.shop {

}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

.item {
  background-color: pink;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}