.item {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(227, 219, 219);
  box-shadow: 1px 1px 3px rgb(240, 240, 240);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgb(80, 80, 80);
}

.name {
  font-size: 18px;
  position: relative;
  text-align: center;
  margin: auto;
  top: 12px;
}

.price {
  font-size: 32px;
  position: relative;
  text-align: center;
  top: 22px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  grid-row-gap: 20px;
}

