ul {
  padding: 0;
  list-style: none;
}

.header {
  background-color: rgb(16, 27, 204);
  color: white;
  padding: 10px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  z-index: 100;
}

.title {
  font-weight: 800;
  margin: 30px;
}

.shop {
  font-size: 20px;
  font-weight: 300;
}

.cart {
  font-size: 20px;
  font-weight: 300;
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.counter {
  margin-left: 10px;
  background-color: white;
  color: rgb(16, 27, 204);
  height: 24px;
  width: 40px;
  line-height: 24px;
  border-radius: 25%;
  font-weight: 800;
  align-items: center;
  text-align: center;
}
