.cart_item {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
}

.cart_item img {
  position: relative;
  height: 80px;
  width: 80px;
  border: 1px solid rgb(227, 219, 219);
  left: 10px;
  top: 10px;
}

.name {
  font-size: 16px;
  margin-right: 10px;
  flex: 1;
  position: relative;
  width: 75px;
  right: 20px;
}

.price {
  font-size: 24px;
  flex: 1;
  top: 30px;
  left: 80px;
  position: relative;
}

.remove{
  cursor:pointer;
  font-size: 24px;
}

.remove:before {
    content: "×";

}